<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- CSS only -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div class="container">
		<br><h1>สารอาหาร 5 หมู่</h1><br><br>
		<div class="fix">
			<a href="bmi.html"><h5 style="margin-top: 20px; color: black;">ลองวัดค่า BMI กัน!</h5></a>
		</div>
		<ul class="nav nav-tabs">
			<li>
                <a href="index.html"><h5>หน้าหลัก</h5></a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li>
                <a href="bmi.html"><h5>คำนวณ BMI</h5></a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li>
                <div class="dropdown" style="z-index: 3">
                	<h5>สารอาหาร</h5>
                	<div class="dropdown-content">
                		<a href="prot.html">โปรตีน</a>
                		<a href="carb.html">คาร์โบไฮเดรต</a>
                		<a href="vita.html">วิตามิน</a>
                		<a href="Mineral.html">เกลือแร่</a>
                		<a href="oil.html">ไขมัน</a>
                	</div>
                </div>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li>
                <div class="dropdown" style="z-index: 3">
                	<h5>เมนูยอดฮิต!</h5>
                	<div class="dropdown-content">
                		<a href="ttt.html">ข้าวขาหมู</a>
                		<a href="kaijeaw.html">ข้าวไข่เจียว</a>
                		<a href="burger.html">เบอร์เกอร์</a>
                		<a href="ramen.html">ราเม็ง</a>
                        <a href="munkai.html">ข้าวมันไก่</a>
                        <a href="kung.html">ข้าวผัดกุ้ง</a>
                        <a href="Kapal.html">ข้าวกระเพราไข่ดาว</a>
                        <a href="Steak.html">สเต็ก</a>
                	</div>
                </div>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</ul>
		
		<h1 class="Eff_2">คำนวณ BMI</h1>
		<div id="test">
			<b class="Eff_2"><i>น้ำหนัก&emsp; (กิโลกรัม) :&emsp;</i></b><input class="rightop" type="number" placeholder="เช่น 50" v-model="w"><br>
			<b class="Eff_2"><i>ส่วนสูง&emsp; (เมตร):&emsp;&emsp;&emsp;</i></b><input class="leftop" type="number" placeholder="เช่น 1.7" v-model="h">
			<br>
			<h5 class="Eff_2">ค่า BMI ของคุณคือ <br> {{cal()}} !</h5>
			<div id="pic"></div>
			<h5 class="Eff_2">{{res()}}</h5>
			<h5 class="Eff_2">{{rec()}}</h5>
			<div id="rec"></div>
		</div>
		<br><br><br>
		<a href="javascript:history.back(1)">กลับจ้า</a>
		<a href="" style="margin-left: 82%">ปุต่อ</a>
		<br><br>
	</div>

	<script>
		let app = new Vue({
			el: '#test',
			data: {
				w: 0,
				h: 1.5
			},
			methods:{
				cal: function(){
					let x = parseFloat(this.w)/(parseFloat(this.h)*parseFloat(this.h))
					return x.toFixed(1)
				},
				res: function(){
					var imgPng = {
					  0:"-",
					  1: "img/b01.png",
					  2: "img/b02.png",
					  3: "img/b03.png",
					  4: "img/b04.png",
					  5: "img/b05.png",
					}
					let a = this.cal()
					if (a == 0) {
						return "ใส่น้ำหนักกับส่วนสูงสิ!"
					}
					else if (a <= 18.5) {
						var img = `<img src="${imgPng[1]}">`
						document.getElementById("pic").innerHTML=img
						return "คุณผอมเกินไป!"
					}
					else if (a > 18.5 && a <= 22.9) {
						document.getElementById("pic").innerHTML=`<img src="${imgPng[2]}">`
						return "คุณสมส่วน!"
					}
					else if (a > 22.9 && a <= 24.9) {
						var img = `<img src="${imgPng[3]}">`
						document.getElementById("pic").innerHTML=img
						return "คุณน้ำหนักค่อนข้างมาก!"
					}
					else if (a > 24.9 && a <= 29.9) {
						var img = `<img src="${imgPng[4]}">`
						document.getElementById("pic").innerHTML=img
						return "คุณอ้วนแล้วนะ!"
					}
					else{
						var img = `<img src="${imgPng[5]}">`
						document.getElementById("pic").innerHTML=img
						return "คุณปริระยะสุดท้าย!"
					}
				},
				rec: function(){
					let a = this.cal()
					if (a == 0) {
						return "แล้วเราจะแนะนำให้คุณ!"
					}
					else if (a <= 18.5) {
						var img = `<div class="row">
										<div class="col-3">
											<a href="ttt.html"><h2>ข้าวขาหมู</h2><br>
											<img class="Eff1" src="img/01.jpg"></a>
										</div>
										<div class="col-3">
											<a href=".html"><h2>ข้าวไข่เจียว</h2><br>
											<img class="Eff1" src="img/02.jpg"></a>
										</div>
										<div class="col-3">
											<a href=".html"><h2>เบอร์เกอร์</h2><br>
											<img class="Eff1" src="img/03.jpg"></a>
										</div>
										<div class="col-3">
											<a href=".html"><h2>ราเม็ง</h2><br>
											<img class="Eff1" src="img/04.jpg"></a>
										</div>
									</div>`
						document.getElementById("rec").innerHTML=img
						return "เราขอแนะนำ!"
					}
					else if (a > 18.5 && a <= 22.9) {
						var img = `<div class="row">
										<div class="col-6">
											<a href=".html"><h2>ข้าวไข่เจียว</h2><br>
											<img class="Eff1" src="img/02.jpg"></a>
										</div>
										<div class="col-6">
											<a href=".html"><h2>ราเม็ง</h2><br>
											<img class="Eff1" src="img/04.jpg"></a>
										</div>
									</div>`
						document.getElementById("rec").innerHTML=img
						return "เราขอแนะนำ!"
					}
					else if (a > 22.9 && a <= 24.9) {
						var img = `<div class="row">
										<div class="col-6">
											<a href=".html"><h2>ข้าวไข่เจียว</h2><br>
											<img class="Eff1" src="img/02.jpg"></a>
										</div>
										<div class="col-6">
											<a href=".html"><h2>ราเม็ง</h2><br>
											<img class="Eff1" src="img/04.jpg"></a>
										</div>
									</div>`
						document.getElementById("rec").innerHTML=img
						return "เราขอแนะนำ!"
					}
					else if (a > 24.9 && a <= 29.9) {
						var img = `<div class="row">
										<div class="col-6">
											<a href=".html"><h2>ข้าวไข่เจียว</h2><br>
											<img class="Eff1" src="img/02.jpg"></a>
										</div>
										<div class="col-6">
											<a href=".html"><h2>ราเม็ง</h2><br>
											<img class="Eff1" src="img/04.jpg"></a>
										</div>
									</div>`
						document.getElementById("rec").innerHTML=img
						return "เราขอแนะนำ!"
					}
					else{
						var img = `<div class="row">
										<div class="col-6">
											<a href=".html"><h2>ข้าวไข่เจียว</h2><br>
											<img class="Eff1" src="img/02.jpg"></a>
										</div>
										<div class="col-6">
											<a href=".html"><h2>ราเม็ง</h2><br>
											<img class="Eff1" src="img/04.jpg"></a>
										</div>
									</div>`
						document.getElementById("rec").innerHTML=img
						return "เราขอแนะนำ!"
					}
				},
			},
		})
	</script>
</body>
</html>